.wrapperContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #fff;
  padding: 1rem;
  font-family: "Inter", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.wrapper h3 {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  color: #0b0e14;
}

.wrapper form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.wrapper label {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 4px;
  text-align: left;
  color: #0b0e14;
}

.wrapper input {
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;

  background-color: #e5e5e5;
  color: #0b0e14;
  outline: none;
  transition: border 0.2s ease;
  border: 2px solid #c1ff72;
}

.wrapper input:focus {
  border-color: #9181f4;
  box-shadow: 0 0 0 2px rgba(145, 129, 244, 0.2);
}

.wrapper input::placeholder {
  font-size: 12px;
  color: #999;
}

.wrapper button {
  background: #0b0e14;
  color: #c1ff72;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 100%;
  box-shadow: 0 4px 10px rgba(145, 129, 244, 0.3);
}

.wrapper button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(145, 129, 244, 0.4);
}

.wrapper span {
  font-size: 12px;
  color: #0b0e14;
}

@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 450px;
    margin: 0 auto;
  }

  .wrapperContainer {
    border-radius: 1rem;
    padding: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .wrapperContainer {
    max-width: 700px;
    margin: auto;
    padding: 4rem 6rem;
  }

  .wrapper h3 {
    font-size: 24px;
  }

  .wrapper button {
    font-size: 16px;
  }
}
